/* Toggle */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  justify-content: end;
  margin-bottom: -3em;
  padding-top: 0.3em;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: rgb(154, 151, 151);
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  content: '';
  height: 14px;
  width: 14px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 23px;
  bottom: 3px;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

input:checked + .slider {
  background-color: var(--pink-old);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 768px) {
  .toggle-theme-wrapper {
    margin-right: -10px;
  }
}

/* COLORS */

:root {
  --background-color: unset;
  --font-color: #000000;
  --h1: #2e9398;
  --topbar: #e8e8e8;
  --hamburger: #a4cbcd;
  --hamburger__border: #a4cbcd;
  --hamburger__links: #000000;
  --main-page__title: #2e9398;
  --about-h2: #72164c;
  --h3: #000000;
  --links: #000000;
  --navigation__links: #000000;
  --navigation__active-links: #72164c;
  --about-project__text: #000000;
  --dashboard--motivation: #72164c;
  --courses-empty: #000000;
  --tree: #72164c;
  --tree-progress__label: #000000;
  --tree__treetop: #2e9398;
  --tree__modal: #e8e8e8;
  --tree-modal__header: #000000;
  --progress-bar: #e8e8e8;
  --progress-bar__actual: #2e9398;
  --leaves: #000000;
  --course-bar: #72164c;
  --course-bar__text: #ffffff;
  --course-bar__active: #2e9398;
  /* --course-bar__active-text: #ffffff; */
  --button__text: #000000;
  --modal-shadow: #717171;
}

[data-theme='dark'] {
  --background-color: #1c1c1e;
  --font-color: #cbb1b6;
  --topbar: #282829;
  --h1: #4e7a7c;
  --main-page__title: #a4cbcd;
  --about-h2: #c48894;
  --h3: #4e7a7c;
  --links: #ffffffba;
  --navigation__links: #ffffffba;
  --navigation__active-links: #c48894;
  --hamburger: #ffffffc4;
  --hamburger__border: #87b2b4;
  --hamburger__links: #000000;
  --about-project__text: #c4c4c4;
  --dashboard--motivation: #dbbcc2;
  --courses-empty: #ffffff9f;
  --tree: #532741;
  --tree-progress__label: #ffffff9f;
  --tree__treetop: #345c5e;
  --progress-bar: #8b8b8b;
  --progress-bar__actual: #532741;
  --leaves: #ffffff9f;
  --course-bar: #dbbcc2;
  --course-bar__text: #ffffffde;
  --course-bar__active: #3c5556;
  /* --course-bar__active-text: #000000; */
  --button__text: #000000;
  --tree__modal: #8b8b8b;
  --tree-modal__header: #345c5e;
  --modal-shadow: #000000;
}

/* Navigation */

#navigation__items--hamburger {
  background-color: var(--hamburger);
  border: 10px solid var(--hamburger__border);
  color: var(--hamburger__links);
}

#navigation__items--hamburger a {
  color: var(--hamburger__links);
}

[data-theme='dark'] .hamburger-react {
  filter: invert(0.3);
}

/* Home */

#main-page__title {
  color: var(--main-page__title);
}

[data-theme='dark'] .tree__image {
  filter: saturate(0.8);
}

/* Login */

[data-theme='dark'] .login__container {
  filter: opacity(0.8);
}

.login__remember-me--text {
  color: var(--font-color);
}

/* Info */

.about-project h2 {
  color: var(--about-h2);
}

.about-project h3 {
  color: var(--h3);
}

.about-project__text {
  color: var(--about-project__text);
}

#info-navigation__items {
  color: var(--about-navigation);
}

[data-theme='dark'] .about-project__tree {
  filter: saturate(0.8);
}

.creator__container p {
  color: var(--about-project__text);
}

[data-theme='dark'] .creator__contact-icon {
  filter: invert(0.9);
}

/* Dashboard */

.dashboard__motivation {
  color: var(--dashboard--motivation);
}

.tree-progress__label {
  color: var(--tree-progress__label);
}

.tree-progress__bar {
  background-color: var(--progress-bar);
}

.tree-progress__bar--actual {
  background-color: var(--progress-bar__actual);
}

[data-theme='dark'] .dashboard__image--sloth,
[data-theme='dark'] .dashboard__image--liana {
  filter: brightness(0.7);
}

[data-theme='dark'] #navigation__items .navigation__icon {
  filter: invert(0.8);
}

.actual-courses__empty {
  color: var(--courses-empty);
}

/* Tree */

#tree__treetop {
  background-color: var(--tree__treetop);
  color: var(--white);
}

.tree__treetop {
  background-color: var(--tree__treetop);
}

.tree__treetop p {
  color: var(--white);
}

.leaves {
  color: var(--leaves);
}

.leaves .checklist__item {
  color: var(--black);
}

[data-theme='dark'] .tree__leaf-icon {
  filter: contrast(0.4);
}

#tree__modal {
  background-color: var(--tree__modal);
}

#tree__modal .modal__header h3 {
  color: var(--tree-modal__header);
}

[data-theme='dark'] #tree__modal {
  filter: drop-shadow(2px 4px 6px var(--modal-shadow));
}

/* Courses */

.course-bar {
  background-color: var(--course-bar);
}

.course-bar p {
  color: var(--course-bar__text);
}

#your-courses__button {
  background-color: var(--light-pink);
  border: 1px solid var(--light-pink);
}

#your-courses__button p {
  color: var(--button__text);
}

.your-courses__dashboard-update {
  color: var(--font-color);
}
