/* Toggle */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  justify-content: end;
  margin-bottom: -3em;
  padding-top: 0.3em;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  content: '';
  height: 14px;
  width: 14px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 23px;
  bottom: 3px;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

input:checked + .slider {
  background-color: var(--pink-old);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 768px) {
  .toggle-theme-wrapper {
    margin-right: -10px;
  }
}

/* COLORS */

:root {
  --background-color: unset;
  --font-color: #000000;
  --topbar: #e8e8e8;
  --course-bar: #72164c;
  --h1: #2e9398;
  --about-h2: #72164c;
  --about-h3: #000000;
  --links: #000000;
}

[data-theme='dark'] {
  --main-turqoise: #a4cbcd;
  --light-turqoise: #2e9398;
  --light-pink: #72164c;
  --grey: #e8e8e8;
  --light-grey: #cfcfcf;
  --black: #ffffff;
  --white: #000000;

  /* --background-color: #272727; */
  /* --background-color: #141313; */
  /* --background-color: #121212; */
  --background-color: #1c1c1e;
  --font-color: #ffffff9f;
  --topbar: #282829;
  --course-bar: #dbbcc2;
  --h1: #2e9398;
  --about-h2: #c48894;
  --about-h3: #a4cbcd;
  --links: #ffffff9f;
}

/* Info */

.about-project h2 {
  color: var(--about-h2);
}

.about-project h3 {
  color: var(--about-h3);
}

#info-navigation__items {
  color: var(--about-navigation);
}

/* Dashboard */

/* Tree */

.tree__treetop p {
  color: #ffffff;
}

/* Courses */

.course-bar {
  color: var(--white);
  background-color: var(--course-bar);
}

.course-bar p {
  color: var(--white);
}

.main__your-courses button {
  color: var(--black);
}
