/* Fonty */

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* Barvičky */

:root {
  --main-turqoise: #2e9398;
  --light-turqoise: #a4cbcd;
  --main-pink: #72164c;
  --light-pink: #dbbcc2;
  --grey: #cfcfcf;
}
/*Blue --> #2E9398
Pink --> #92475C
Pink no. 2 --> #72164c
Light pink --> #DBBCC2
Alternative pink --> #c48894
Light blue --> #A4CBCD
Grey --> #CFCFCF
*/

/* Responzivita */

/* 576px */
/* 768px */
/* 992px */
/* 1200px */

/* ALL, SPOLEČNÉ */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* @media (max-width: 368px) {
  html,
  body {
    height: 100%;
    overflow: hidden;
    max-width: 100%;
  }
} */

/* * {
  border: 1px solid red;
} */

html,
body {
  min-height: 100%;
  /* overflow-x: hidden; */
}

main {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0% 5%;
  font-size: 3vw;
}

h1,
h2 {
  font-family: 'Kodchasan', sans-serif;
  color: var(--main-turqoise);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-family: 'Kodchasan', sans-serif;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #000000;
}

.leaf {
  color: red;
}

@media (min-width: 576px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 95%;
    /* margin: 0 auto 0 auto;
    padding: 5% 10% 0 10%;
    font-size: 3vw; */
  }
}
