/* DASHBOARD */

/* Pravá strana */

.dashboard__image--sloth {
  display: none;
}

.dashboard__motivation {
  display: none;
}

.dashboard__follow-up {
  margin-top: 10em;
}

.follow-up__leaves {
  margin-top: -25%;
  margin-bottom: 10%;
}

.leaves__tree-checklist {
  display: flex;
  align-items: center;
  margin-left: 60%;
  margin-top: 20%;
}

.leaves__leaf--inactive {
  max-width: 2em;
}

.follow-up__tree {
  position: relative;
}

.follow-up__tree-branch--left {
  border-bottom: 2.5em solid #72164c;
  border-left: 1.5em solid #72164c;
  border-top: 0em solid #72164c;
  border-right: 0em solid #72164c;
  width: 60vw;
  height: 10vmax;
  margin: -10% auto 0 auto;
  position: relative;
  left: 25%;
}

.follow-up__treetop--left {
  width: 30%;
  border-radius: 50%;
  background-color: #2e9398;
  aspect-ratio: 1 / 1;
  z-index: 1;
  position: absolute;
  bottom: 50%;
  left: 28%;
  margin: 0 auto;
}

/* Levá strana */

#dashboard__title {
  /* font-size: 4em; */
  margin-bottom: 5%;
  text-align: center;
}

/* (A) Streak + progress */

.dashboard__streak-update {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.streak-update__crown-icon {
  margin-right: 1em;
  width: 3em;
  height: 4em;
}

.dashboard__tree-progress {
  margin-bottom: 20%;
}

.tree-progress__label {
  margin-bottom: 0.5em;
}

.tree-progress__bar {
  flex: 0 0 30em;
  background-color: lightgray;
  height: 0.6em;
  border-radius: 0.3em;
}

.tree-progress__bar--actual {
  background-color: #2e9398;
  width: 0%;
  height: 0.6em;
  border-radius: 0.3em;
}

/* (B) Kurzy */

#actual-courses__title {
  margin-bottom: 0.5em;
}

.course-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #72164c;
  border: 1px solid rgba(78, 78, 78, 0.651);
  border-radius: 1em;
  padding: 0.7em 1em;
  color: #ffffff;
}

.course-bar__check {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.actual-courses--course1,
.actual-courses--course2,
.actual-courses--course3 {
  margin-bottom: 1em;
}

.actual-courses--course4 {
  display: none;
}

.check-icon1,
.check-icon3 {
  filter: invert(1);
}

.course__study-day {
  background-color: #a4cbcd;
  color: #000000;
  font-weight: 600;
  min-width: fit-content;
  width: 10%;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  text-align: center;
}

.actual-courses__button {
  background-color: #dbbcc2;
  border: 2px solid #dbbcc2;
  border-radius: 1em;
  padding: 0.7em 1em;
  font-weight: 600;
  font-size: 90%;
  margin-left: 50%;
  width: 50%;
}

.actual-courses__button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #72164c;
}

/* Responzivita pro dashboard */
@media (min-width: 576px) {
  /* #dashboard__title {
    /* font-size: 30px; */
  /* margin-top: 5%; 
  } */
  .dashboard__right-side {
    display: flex;
    flex-direction: column;
  }
  .dashboard__image--sloth {
    max-width: 100%;
    width: 80%;
    margin: -2em auto -1em auto;
    display: block;
    transform: rotate(-20deg);
    z-index: -1;
  }

  .follow-up__treetop--left {
    width: 30%;
    border-radius: 50%;
    background-color: #2e9398;
    aspect-ratio: 1 / 1;
    z-index: 1;
    position: absolute;
    bottom: 60%;
    left: 28%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #dashboard__title {
    text-align: left;
    /* margin-top: 10vh; */
    /* font-size: 3em; */
  }
  #dashboard__core h3 {
    font-size: 1.5em;
  }
  #dashboard__core {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
  }

  /* Responzivita pro levou stranu dashboardu */

  .dashboard__left-side {
    width: 50%;
  }

  /* 🧩 responzivita pro kurzy v rámci dashboardu */

  #actual-courses__title {
    margin-bottom: 0.8em;
  }

  .course-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #72164c;
    border-radius: 1em;
    padding: 0.7em 1em;
    color: #ffffff;
  }

  .actual-courses--course1,
  .actual-courses--course2,
  .actual-courses--course3 {
    margin-bottom: 1em;
  }

  .actual-courses--course4 {
    display: none;
  }

  .check-icon1,
  .check-icon3 {
    filter: invert(1);
  }

  .course__study-day {
    background-color: #a4cbcd;
    color: #000000;
    font-weight: 600;
    min-width: fit-content;
    width: 10%;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    text-align: center;
  }

  .actual-courses__button {
    background-color: #dbbcc2;
    border: 2px solid #dbbcc2;
    border-radius: 1em;
    padding: 0.7em 1em;
    font-weight: 600;
    width: 70%;
    margin-left: 30%;
  }

  .actual-courses__button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #72164c;
  }

  /* 🧩 Responzivita pro pravou stranu dashboardu */

  .dashboard__right-side {
    width: 50%;
  }

  .dashboard__image--sloth {
    max-width: 100%;
    width: 50vw;
    /* margin-top: 1vh; */
    margin-top: -3em;
    margin-bottom: 45%;
    transform: rotate(-20deg);
  }

  .dashboard__follow-up {
    margin-top: 0em;
  }

  .dashboard__motivation {
    margin: -17% 0% 0% 40%;
    position: absolute;
    bottom: -1%;
  }

  .follow-up__leaves {
    margin-left: 20%;
  }

  .follow-up__leaves h3 {
    margin-bottom: 10%;
  }

  .leaves__tree-checklist {
    display: flex;
    align-items: center;
    margin-left: 7em;
    margin-bottom: -5em;
    font-size: 0.8em;
  }

  .leaves__leaf--inactive {
    max-width: 2em;
  }

  .follow-up__tree {
    position: relative;
  }

  .follow-up__tree-branch--left {
    border-bottom: 2.5em solid #72164c;
    border-left: 1.5em solid #72164c;
    border-top: 0em solid #72164c;
    border-right: 0em solid #72164c;
    width: 25em;
    height: 10vmax;
    margin: 1em auto 0 auto;
    position: relative;
    left: 20%;
    top: 3em;
  }

  .follow-up__treetop--left {
    width: 30%;
    border-radius: 50%;
    background-color: #2e9398;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: 1%;
    left: 8%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  h1#dashboard__title {
    /* font-size: 40px; */
    text-align: left;
    /* margin-top: 0.5em; */
  }

  #dashboard__core {
    font-size: 1em;
  }

  #dashboard__core h3 {
    font-size: 2em;
  }
  /* 🧩 Responzivita pro levou stranu dashboardu */

  /* (A) Streak + progress */

  .dashboard__streak-update {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    font-size: 1.2em;
    font-weight: 600;
  }

  .streak-update__crown-icon {
    margin-right: 2em;
    width: 3em;
    height: 4em;
  }

  .dashboard__tree-progress {
    margin-bottom: 20%;
  }

  .tree-progress__label {
    margin-bottom: 0.5em;
  }

  .tree-progress__bar {
    flex: 0 0 30em;
    background-color: lightgray;
    height: 0.8em;
    border-radius: 0.3em;
    width: 90%;
  }

  .tree-progress__bar--actual {
    background-color: #2e9398;
    width: 0%;
    height: 0.8em;
    border-radius: 0.3em;
  }

  /* (B) Kurzy */

  #actual-courses__title {
    margin-bottom: 0.5em;
  }

  .course-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #72164c;
    border-radius: 1em;
    padding: 0.7em 1em;
    color: #ffffff;
    font-size: 1.3em;
    width: 90%;
  }

  .actual-courses--course1,
  .actual-courses--course2,
  .actual-courses--course3 {
    margin-bottom: 1em;
  }

  .actual-courses--course4 {
    display: none;
  }

  .check-icon1,
  .check-icon3 {
    filter: invert(1);
  }

  .course__study-day {
    background-color: #a4cbcd;
    color: #000000;
    font-weight: 600;
    min-width: fit-content;
    width: 10%;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    text-align: center;
  }

  .actual-courses__button {
    background-color: #dbbcc2;
    border: 2px solid #dbbcc2;
    border-radius: 1em;
    padding: 0.7em 1em;
    font-weight: 600;
    width: 50%;
    margin-left: 40%;
    font-size: 1.1em;
  }

  .actual-courses__button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #72164c;
  }

  /* 🧩 Responzivita pro pravou stranu dashboardu */

  .dashboard__image--sloth {
    width: 35vw;
    /* transform: rotate(90deg); */
    margin-top: -10%;
    margin-bottom: 25%;
    margin-left: 10%;
  }

  .follow-up__leaves {
    margin-left: 25%;
    margin-bottom: 0;
  }

  .follow-up__leaves h3 {
    margin-left: 25%;
    margin-top: 5%;
    padding-top: 5%;
  }

  .leaves__tree-checklist {
    font-size: 1.2em;
    margin-bottom: 3em;
    /* margin-left: 30%; */
  }

  /* .leaves__leaf--inactive {
    max-width: 2em;
  } */
  .follow-up__tree {
    padding-top: 3em;
  }

  .follow-up__tree-branch--left {
    border-bottom: 3.5em solid #72164c;
    border-left: 2em solid #72164c;
    border-top: 0em solid #72164c;
    border-right: 0em solid #72164c;
    width: 40vw;
    height: 7vmax;
    margin: 1em auto 0 auto;
    position: relative;
    left: 8vw;
    top: -5em;
  }

  .follow-up__treetop--left {
    width: 30%;
    border-radius: 50%;
    background-color: #2e9398;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: 10em;
    left: 10%;
  }
}

@media (min-width: 1200px) {
  .follow-up__tree-branch--left {
    width: 40vw;
  }
  .follow-up__treetop--left {
    left: 6%;
  }
  .dashboard__image--sloth {
    width: 35vw;
    transform: rotate(-20deg);
    margin-top: -10%;
    margin-bottom: 25%;
    z-index: -1;
  }
  .follow-up__tree-branch--left {
    border-bottom: 3.5em solid #72164c;
    border-left: 2em solid #72164c;
    border-top: 0em solid #72164c;
    border-right: 0em solid #72164c;
    width: 40vw;
    height: 7vmax;
    margin: 1em auto 0 auto;
    position: relative;
    left: 9vw;
    top: -5em;
  }
  .follow-up__treetop--left {
    width: 30%;
    border-radius: 50%;
    background-color: #2e9398;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: 10em;
    left: 10%;
  }
}

@media (min-width: 1700px) {
  #dashboard__title {
    font-size: 3.5em;
  }
  #dashboard__core {
    font-size: 0.8em;
  }

  #dashboard__core h3 {
    font-size: 1.8em;
  }
  .dashboard__tree-progress {
    margin-bottom: 10%;
  }

  /* .dashboard__right-side {
    z-index: -2;
  } */

  .dashboard__image--sloth {
    width: 30vw;
    transform: rotate(-20deg);
    margin-top: -10%;
    z-index: -1;
  }
  /* .dashboard__image--sloth {
    width: 30vw;
    transform: rotate(0deg);
    margin-top: -30%;
    margin-bottom: 40%;
    margin-left: -30%;
    z-index: -1;
  } */
  .follow-up__tree-branch--left {
    width: 40vw;
    height: 7vmax;
    margin: -4em auto 0 auto;
    position: relative;
    left: 9vw;
    top: -5em;
  }
  .leaves__tree-checklist {
    margin: 0 0 6em 10em;
  }
}
