/* MAIN PAGE */

.main-page__container {
  background: url(img/homepage.svg) no-repeat fixed;
  /* background-size: 80vmax; */
  /* background-position: inherit; */
  height: 30em;
  background-size: 700px;
  background-position-y: center;
}

.main-page__main {
  display: flex;
  justify-content: center;
  margin: auto;
}

#main-page__title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.3em;
  margin-top: 1em;
}

.main-page__login {
  font-weight: 600;
  margin-top: 2em;
}

.main-page__info {
  /* max-width: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main-page__text {
  font-size: 1.4em;
  text-align: center;
  margin-top: 1em;
}

#main-page__signup-button {
  font-weight: 600;
  font-size: medium;
  background-color: #72164c;
  border: 1px solid #72164c;
  border-radius: 10em;
  color: white;
  padding: 0.5rem 1em;
  margin-top: 3em;
  width: 10em;
}

#main-page__signup-button:hover {
  font-weight: 600;
  cursor: pointer;
  background-color: #dbbcc2;
  border: 1px solid #dbbcc2;
  color: #000000;
}

.tree__image {
  display: none;
}

.main__left-side {
  max-width: 50%;
}

@media (min-width: 768px) {
  .main-page__container {
    position: relative;
    padding: 0 3em;
  }

  .main-page__main {
    justify-content: space-between;
    margin: auto;
  }

  #main-page__title {
    font-size: 3em;
    text-align: left;
    /* margin-bottom: 0.3em;
    margin-top: 1em; */
  }

  .main-page__text {
    text-align: left;
  }

  .tree__image {
    display: block;
    max-width: 33%;
    position: fixed;
    bottom: -3%;
    right: 8%;
  }

  #main-page__signup-link {
    align-self: end;
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .main-page__container {
    padding: 0 5em;
  }
}
