/* HLAVIČKA (dash, tree, courses) */

.container__topbar {
  margin: auto;
  font-size: 2.5vw;
  width: fit-content;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  width: 90vw;
  margin-bottom: -3em;
  margin-top: -1em;
}

/* (a) logo, levá strana */

#logo img {
  width: 15vw;
  margin-top: -3vh;
}

/* (b) navigace */

#navigation {
  font-weight: 600;
  margin-bottom: 1.5em;
}

#hamburger {
  width: 20vw;
  margin-right: -7vw;
}

#navigation__items {
  display: none;
}

#navigation__items--hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  list-style: none;
  margin-left: 10px;
  margin-top: -20px;
  background-color: #a4cbcd;
  padding: 20px 0;
  position: absolute;
  left: 5em;
  width: 70vw;
  line-height: 2em;
  border-radius: 25em 0;
  z-index: 3;
}

/* 🧩 responzivita pro navigaci */

@media (min-width: 576px) {
  /* header {
    margin-top: 1em;
  } */

  #logo img {
    width: 10vw;
  }

  /* #navigation__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    list-style: none;
    margin-left: 10px;
    margin-top: -50px;
    background-color: #c48894;
    padding: 20px;
    position: absolute;
    width: 100%;
    line-height: 30px;
  } */

  /* ul#navigation__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .navigation__item {
    list-style: none;
    margin: 0 0.7em;
    font-size: 1em;
  } */

  .navigation__item:not(.navigation__item--actual):hover {
    color: #c48894;
  }

  .navigation__item:not(.navigation__item--actual)::after {
    content: '';
    display: block;
    width: 0;
    transition: width 0.3s;
  }

  .navigation__item:not(.navigation__item--actual):hover::after {
    width: 100%;
    border-bottom: 2px solid #c48894;
  }

  .navigation__item--actual {
    color: #72164c;
    border-bottom: 2px solid #72164c;
  }
  /* #hamburger {
    display: none;
  } */
}

@media (min-width: 768px) {
  header {
    margin-top: 1em;
  }

  ul#navigation__items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0%;
    background-color: unset;
    padding: 0;
    position: unset;
    line-height: unset;
    font-size: unset;
  }

  .navigation__item {
    list-style: none;
    margin: 0 0.8em;
    font-size: 0.8em;
  }

  .navigation__item:not(.navigation__item--actual):hover {
    color: #c48894;
  }

  .navigation__item:not(.navigation__item--actual)::after {
    content: '';
    display: block;
    width: 0;
    transition: width 0.3s;
  }

  .navigation__item:not(.navigation__item--actual):hover::after {
    width: 100%;
    border-bottom: 2px solid #c48894;
  }

  .navigation__item--actual {
    color: #72164c;
    border-bottom: 2px solid #72164c;
  }
  #hamburger {
    display: none;
  }
}

@media (min-width: 992px) {
  .container__topbar {
    /* font-size: 10px; */
    margin: auto;
    padding: 1% 5%;
  }
  .container {
    font-size: 1vw;
  }
  header {
    max-width: 90vw;
    margin-top: 0;
  }

  #logo img {
    width: 5vw;
    margin-top: 1%;
  }

  #navigation {
    margin-bottom: 0;
  }

  .navigation__item {
    font-size: 20px;
  }
}
