/* LOGIN */

.container__login {
  background: url(img/login-page-41.svg) no-repeat fixed;
  background-size: cover;
  min-height: 45em;
  height: 50em;
  margin: 0;
  overflow-y: hidden;
}

#login__core {
  padding-top: 40%;
}

#login__title {
  font-size: 3em;
  text-align: center;
}

#login__form {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  max-width: 50%;
}

.login__field {
  margin: 0.6rem 0;
  padding: 0.8em;
  border-radius: 1em;
  border: 1px solid #72164c;
}

.login__remember-me {
  display: flex;
  align-items: center;
}

.login__remember-me--text {
  font-size: 80%;
  margin-left: 1em;
}

#login__button {
  font-weight: 600;
  background-color: #72164c;
  border: 1px solid #72164c;
  border-radius: 1em;
  color: white;
  padding: 0.8rem;
  width: 100%;
  margin-top: 1em;
}

#login__button:hover {
  font-weight: 600;
  cursor: pointer;
  background-color: #dbbcc2;
  border: 1px solid #dbbcc2;
  color: #000000;
}

@media (min-width: 576px) {
  .container__login {
    min-height: 45em;
    max-height: 50em;
  }
  #login__core {
    padding-top: 30%;
  }
  #login__form {
    max-width: 30%;
  }
}

@media (min-width: 768px) {
  #login__core {
    padding-top: 25%;
  }
}
@media (min-width: 992px) {
  #login__core {
    padding-top: 20%;
  }
}
@media (min-width: 1200px) {
  .container__login {
    min-height: 50em;
    max-height: 60em;
  }
  #login__core {
    padding-top: 20%;
  }
}
