#courses__modal {
  top: 5em;
  width: 100%;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  align-items: end;
}

.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form__input {
  padding: 0.5em;
  width: 70%;
}

.form__button--disabled:hover,
.form__button--disabled:active {
  cursor: not-allowed;
}

.modal__icon--close {
  width: 2em;
  margin-top: -1em;
  margin-right: -1em;
}

@media (min-width: 768px) {
  #courses__modal {
    width: 80%;
  }
  .form__input {
    width: 80%;
  }
}

@media (min-width: 992px) {
  #courses__modal {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  #courses__modal {
    width: 50%;
    left: 25em;
  }
}
