/* -------------------- MOBILE FIRST -------------------- */

.main-page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 0 2em;
}

.main-page__login {
  font-weight: 600;
  margin-top: 1em;
}

/* RESPONSIVITY */

@media (min-width: 992px) {
  .main-page__header {
    padding: 1em 3em 0 3em;
  }
}
