/* Toggle */

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 40px;
  &--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    justify-content: end;
    margin-bottom: -3em;
    padding-top: 0.3em;
  }
  input {
    display: none;
  }
}

.slider {
  background-color: rgb(154, 151, 151);
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
  &:before {
    background-color: #fff;
    content: '';
    height: 14px;
    width: 14px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 23px;
    bottom: 3px;
    transition: 0.4s;
  }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider:before {
  transform: translateX(19px);
}

input:checked + .slider {
  background-color: var(--pink-old);
}

.dark-mode__icon {
  font-size: 20px;
  color: var(--font-color);
}

#moon {
  padding-bottom: 1.5px;
}

@media (min-width: 768px) {
  .toggle-theme--wrapper {
    padding-right: 10px;
  }
}

/* COLORS */

:root {
  --background-color: unset;
  --font-color: #000000;
  --h1: #2e9398;
  --topbar: #e8e8e8;
  --hamburger: #a4cbcd;
  --hamburger__border: #a4cbcd;
  --hamburger__links: #000000;
  --main-page__title: #2e9398;
  --about-h2: #72164c;
  --h3: #000000;
  --links: #000000;
  --navigation__links: #000000;
  --navigation__active-links: #72164c;
  --about-project__text: #000000;
  --caption: #72164c;
  --dashboard--motivation: #72164c;
  --courses-empty: #000000;
  --tree: #72164c;
  --tree-progress__label: #000000;
  --tree__treetop: #2e9398;
  --tree__modal: #e8e8e8;
  --tree-modal__header: #000000;
  --progress-bar: #e8e8e8;
  --progress-bar__actual: #2e9398;
  --leaves: #000000;
  --course-bar: #72164c;
  --course-bar__text: #ffffff;
  --course-bar__active: #2e9398;
  --button__text: #000000;
  --modal-shadow: #717171;
}

[data-theme='dark'] {
  --background-color: #1c1c1e;
  --font-color: #cbb1b6;
  --topbar: #282829;
  --h1: #4e7a7c;
  --main-page__title: #a4cbcd;
  --about-h2: #c48894;
  --h3: #4e7a7c;
  --links: #ffffffba;
  --navigation__links: #ffffffba;
  --navigation__active-links: #c48894;
  --hamburger: #ffffffc4;
  --hamburger__border: #87b2b4;
  --hamburger__links: #000000;
  --about-project__text: #c4c4c4;
  --caption: #dbbcc2;
  --dashboard--motivation: #dbbcc2;
  --courses-empty: #ffffff9f;
  --tree: #532741;
  --tree-progress__label: #ffffff9f;
  --tree__treetop: #345c5e;
  --progress-bar: #8b8b8b;
  --progress-bar__actual: #532741;
  --leaves: #ffffff9f;
  --course-bar: #dbbcc2;
  --course-bar__text: #ffffffde;
  --course-bar__active: #3c5556;
  --button__text: #000000;
  --tree__modal: #8b8b8b;
  --tree-modal__header: #345c5e;
  --modal-shadow: #000000;
}

[data-theme='dark']
  button:not(.form__button, button.course-bar__btn, #login__button, #main-page__signup-button) {
  filter: drop-shadow(2px 4px 3px var(--modal-shadow));
}

/* Navigation */

#navigation__items {
  &--hamburger {
    background-color: var(--hamburger);
    border: 10px solid var(--hamburger__border);
    color: var(--hamburger__links);
    a {
      color: var(--hamburger__links);
    }
  }
}

[data-theme='dark'] .hamburger-react {
  filter: invert(0.3);
}

/* Home */

#main-page__title {
  color: var(--main-page__title);
}

[data-theme='dark'] .tree__image {
  filter: saturate(0.8);
}

/* Login */

[data-theme='dark'] .login__container {
  filter: opacity(0.8);
  background: url(../Login/img/login-page__transparent--dark3.svg) no-repeat
    fixed;
}

[data-theme='dark'] input[type='text']#login__user-name,
textarea {
  background-color: #282829;
  color: #ffffffc4;
}

[data-theme='dark'] input[type='password']#login__user-password,
textarea {
  background-color: #282829;
  color: #ffffffc4;
}

[data-theme='dark'] input:-webkit-autofill,
[data-theme='dark'] input:-webkit-autofill:hover,
[data-theme='dark'] input:-webkit-autofill:focus,
[data-theme='dark'] input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #282829 inset !important;
  box-shadow: #282829;
  -webkit-text-fill-color: #ffffffc4;
}

.login__remember-me--text {
  color: var(--font-color);
  background-color: var(--background-color);
}

/* Info */

.about-project {
  h2 {
    color: var(--about-h2);
  }

  h3 {
    color: var(--h3);
  }

  &__text {
    color: var(--about-project__text);
  }
}

#info-navigation__items {
  color: var(--about-navigation);
}

[data-theme='dark'] .about-project__tree {
  filter: saturate(0.8);
}

.creator__container p {
  color: var(--about-project__text);
}

[data-theme='dark'] .creator__contact-icon {
  filter: invert(0.9);
}

.phases__picture--caption {
  color: var(--caption);
}

/* Dashboard */

.dashboard__motivation {
  color: var(--dashboard--motivation);
}

.tree-progress {
  &__label {
    color: var(--tree-progress__label);
  }

  &__bar {
    background-color: var(--progress-bar);
    &--actual {
      background-color: var(--progress-bar__actual);
    }
  }
}

[data-theme='dark'] .dashboard__image--sloth,
[data-theme='dark'] .dashboard__image--liana {
  filter: brightness(0.7);
}

[data-theme='dark'] #navigation__items .navigation__icon {
  filter: invert(0.8);
}

.actual-courses__empty {
  color: var(--courses-empty);
}

[data-theme='dark'] .your-courses__container .course-bar {
  border: 1px solid var(--main-pink);
}

[data-theme='dark'] .leaves__leaf--inactive {
  filter: contrast(0.4);
}

[data-theme='dark']
  #create-dashboard__btn:not(#create-dashboard__btn--disabled):hover,
button.actual-courses__button:hover {
  background-color: var(--main-turqoise);
  border: 2px solid var(--main-turqoise);
  transform: scale(1.05);
  transition: ease-in-out 8000;
}

/* Tree */

#tree__treetop {
  background-color: var(--tree__treetop);
  color: var(--white);
}

.tree {
  &__treetop {
    background-color: var(--tree__treetop);
    p {
      color: var(--white);
    }
  }
}

.leaves {
  color: var(--leaves);
  .checklist__item {
    color: var(--black);
  }
}

[data-theme='dark'] .leaves__icon {
  filter: contrast(0.4);
}

#tree__modal {
  background-color: var(--tree__modal);
  filter: drop-shadow(2px 4px 3px var(--modal-shadow));
  .modal__header h3 {
    color: var(--tree-modal__header);
  }
}

/* Courses */

.course-bar {
  background-color: var(--course-bar);
  p {
    color: var(--course-bar__text);
  }
}

#your-courses {
  &__button {
    background-color: var(--light-pink);
    border: 1px solid var(--light-pink);
    p {
      color: var(--button__text);
    }
  }
}

[data-theme='dark'] #create-dashboard__btn--disabled {
  background-color: #6a5d62;
}

.create-dashboard__info {
  color: var(--font-color);
}

#courses__modal {
  filter: drop-shadow(2px 4px 3px var(--modal-shadow));
}
