/* -------------------- MOBILE FIRST -------------------- */

/* Branches - general */

.tree__branch {
  display: flex;
  justify-content: center;
  align-items: end;
  border-bottom: 2em solid var(--main-pink);
  border-top: 0em solid var(--main-pink);
  width: 43vw;
  height: 10vmax;
  margin: 10px auto;
  position: absolute;
  border-radius: 10px;
}

.tree__branch--active {
  position: relative;
  bottom: 20rem;
}

.tree__treetop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  background-color: var(--main-turqoise);
  color: var(--white);
  border-radius: 50%;
  width: 50%;
  aspect-ratio: 1 / 1;
  padding: 0.3em;
  position: absolute;
  bottom: 50%;
}

/* Right side */

/* In common */

.tree__branch--right {
  border-right: 1em solid var(--main-pink);
  border-left: 0em solid var(--main-pink);
  left: 0em;
}

.tree__treetop--right {
  left: 77%;
}

/* Individual */

.tree__branch--8 {
  margin-top: 7em;
}
.tree__branch--6 {
  margin-top: 27em;
}
.tree__branch--4 {
  margin-top: 47em;
}
.tree__branch--2 {
  margin-top: 67em;
}

/* Left side */

/* In common */

.tree__branch--left {
  border-left: 1em solid var(--main-pink);
  border-right: 0em solid var(--main-pink);
  right: 0em;
}

.tree__treetop--left {
  right: 77%;
}

/* Individual */

.tree__branch--7 {
  margin-top: 17em;
}
.tree__branch--5 {
  margin-top: 37em;
}
.tree__branch--3 {
  margin-top: 57em;
}
.tree__branch--1 {
  margin-top: 77em;
}

/* RESPONSIVITY */

@media (min-width: 768px) {
  .tree__treetop {
    font-size: 0.7em;
  }

  .tree__branch--right {
    border-bottom: 1.5em solid var(--main-pink);
  }

  .tree__branch--left {
    border-bottom: 1.5em solid var(--main-pink);
  }
}

@media (min-width: 992px) {
  .tree__treetop {
    font-size: 1.3em;
  }

  /* Right side */

  /* In common */

  .tree__branch--right {
    border-bottom: 4em solid var(--main-pink);
    border-right: 3em solid var(--main-pink);
    width: 37vmax;
    height: 7vmax;
  }

  /* Individual */

  .tree__branch--8 {
    margin-top: 15em;
  }
  .tree__branch--6 {
    margin-top: 75em;
  }
  .tree__branch--4 {
    margin-top: 135em;
  }
  .tree__branch--2 {
    margin-top: 195em;
  }

  /* Left side */

  /* In common */

  .tree__branch--left {
    border-bottom: 4em solid var(--main-pink);
    border-left: 3em solid var(--main-pink);
    width: 37vmax;
    height: 7vmax;
  }

  /* Individual */

  .tree__branch--7 {
    margin-top: 45em;
  }
  .tree__branch--5 {
    margin-top: 105em;
  }
  .tree__branch--3 {
    margin-top: 165em;
  }
  .tree__branch--1 {
    margin-top: 225em;
  }
}

@media (min-width: 1200px) {
  .tree__treetop {
    width: 40%;
    font-size: 1.1em;
  }

  /* Right side */

  /* In common */

  .tree__branch--right {
    border-bottom: 3em solid var(--main-pink);
    border-right: 2em solid var(--main-pink);
  }

  .tree__treetop--right {
    left: 83%;
  }

  /* Individual */

  .tree__branch--8 {
    margin-top: 10em;
  }
  .tree__branch--6 {
    margin-top: 50em;
  }
  .tree__branch--4 {
    margin-top: 90em;
  }
  .tree__branch--2 {
    margin-top: 130em;
  }

  /* Left side */

  /* In common */

  .tree__branch--left {
    border-bottom: 3em solid var(--main-pink);
    border-left: 2em solid var(--main-pink);
  }

  .tree__treetop--left {
    right: 83%;
  }

  /* Individual  */

  .tree__branch--7 {
    margin-top: 30em;
  }
  .tree__branch--5 {
    margin-top: 70em;
  }
  .tree__branch--3 {
    margin-top: 110em;
  }
  .tree__branch--1 {
    margin-top: 150em;
  }
}
