/* -------------------- MOBILE FIRST -------------------- */

/* Info navigation */

#info-navigation {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 2em;
}

#info-navigation__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 1.5em;
  gap: 1em;
  list-style: none;
  margin-bottom: 0;
}

.info-navigation__item {
  font-size: 1.2em;
  color: var(--about-navigation);
  border-bottom: 2px solid transparent;
}

.info-navigation__item:not(.navigation__item--actual):hover {
  color: var(--alternative-pink);
}

.info-navigation__item:not(.navigation__item--actual)::after {
  content: '';
  display: block;
  width: 0;
  transition: width 0.3s;
  border-bottom: 2px solid transparent;
}

.info-navigation__item:not(.navigation__item--actual):hover::after {
  width: 100%;
  border-bottom: 2px solid var(--alternative-pink);
}

.info-navigation__item--actual {
  color: var(--alternative-pink);
  border-bottom: 2px solid var(--main-pink);
}

/* About */

.about-project {
  width: 90%;
  margin: auto;
}

.about-project__container {
  display: flex;
  flex-direction: column;
}

#about-project__title {
  font-size: 3em;
  text-align: center;
}

.about-project h2 {
  font-size: 1.8em;
  color: var(--about-h2);
  padding-top: 1em;
  padding-bottom: 0.2em;
}

.about-project h3 {
  font-size: 1.2em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  text-decoration: underline var(--main-turqoise) 2px;
  font-weight: 600;
  color: var(--h3);
}

.about-project__text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
}

.about-project__phases {
  text-align: center;
  margin: 2em auto 0 auto;
}

.phases__picture {
  width: 20em;
}

.phases__picture--caption {
  font-size: 0.8rem;
}

.about-project__tree {
  display: none;
}

/* Nelča + Evča */

.creator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  width: 40em;
  height: 40em;
  aspect-ratio: 1/1;
  border: 2em solid var(--light-pink);
  border-radius: 100%;
  padding: 5em;
  margin: 2em auto;
}

.creator__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  margin-top: 1em;
  width: 95%;
}

.creator__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.9em;
}

.creator__text {
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
}

.creator__photo {
  display: none;
}

.creator__contacts {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.creator__contact-icon {
  width: 2em;
}

/* RESPONSIVITY */

@media (max-width: 368px) {
  #about-project__title {
    font-size: 2em;
    text-align: center;
  }

  .creator {
    width: 30em;
    height: 35em;
    aspect-ratio: unset;
    font-size: 0.5em;
    margin-bottom: 10em;
    margin-top: 10em;
    border-radius: 30%;
  }
}

@media (min-width: 576px) {
  /* Info navigation */

  #info-navigation__items {
    justify-content: right;
    gap: 2em;
  }

  /* Nelča + Evča */

  .creator {
    font-size: 0.8em;
    width: 40em;
    height: 40em;
    /* max-width: 40em;
    max-height: 40em; */
    padding: 5em;
    aspect-ratio: 1/1;
  }

  .creator__container {
    width: 95%;
  }

  .creator__photo {
    display: block;
    height: 5rem;
  }
}

@media (min-width: 768px) {
  #about-project__title {
    font-size: 2.5em;
    text-align: left;
  }

  /* Info navigation */

  #info-navigation__items {
    font-weight: 600;
  }

  /* Nelča + Evča */

  .creator {
    width: 50em;
    height: 50em;
    max-width: 55em;
    max-width: 55em;
    aspect-ratio: 1/1;
    font-size: 0.9em;
  }

  .creator__photo {
    height: 10em;
  }

  .creator__contacts {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 992px) {
  /* About */

  .about-project {
    position: relative;
  }

  .about-project__container {
    width: 60%;
  }

  /* Tree */

  .about-project__tree {
    display: block;
    max-width: 55vh;
    position: fixed;
    left: 70%;
    bottom: 0;
    overflow: hidden;
  }

  /* Nelča + Evča */

  .creator {
    width: 45em;
    height: 45em;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .about-project__container {
    width: 50%;
  }

  /* Tree */

  .about-project__tree {
    /* max-width: 30%; */
    left: 60%;
  }
}

@media (min-width: 1700px) {
  .about-project__container {
    width: 50%;
  }
}
