/* TREE  */

/* #tree__title {
  font-size: 4em;
  margin-top: 3vw;
  font-size: 2em;
} */

.tree__core {
  display: flex;
}

#tree__treetop {
  font-size: 1em;
}

.tree__treetop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 50%;
  background-color: #2e9398;
  aspect-ratio: 1 / 1;
  margin: 3% auto -2% auto;
  z-index: 1;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.3em;
  text-align: center;
  position: relative;
}

.tree__trunk {
  border-bottom: 100em solid #72164c;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  width: 5em;
  margin: 0 auto;
  position: relative;
}

/* Pravá strana stromu */

/* Větve + koruny - in common */

.tree__branch--right {
  border-bottom: 2em solid #72164c;
  border-right: 1em solid #72164c;
  border-top: 0em solid #72164c;
  border-left: 0em solid #72164c;
  width: 40vw;
  height: 10vmax;
  margin: 10px auto;
  position: absolute;
  left: 0em;
  display: flex;
  justify-content: center;
  align-items: end;
}

.tree__treetop--right {
  width: 50%;
  position: absolute;
  bottom: 50%;
  left: 77%;
}

/* Větve - individual */

.tree__branch--8 {
  margin-top: 7em;
}
.tree__branch--6 {
  margin-top: 27em;
}
.tree__branch--4 {
  margin-top: 47em;
}
.tree__branch--2 {
  margin-top: 67em;
}

/* Levá strana stromu */

/* Větve + koruny - in common */

.tree__branch--left {
  border-bottom: 2em solid #72164c;
  border-left: 1em solid #72164c;
  border-top: 0em solid #72164c;
  border-right: 0em solid #72164c;
  width: 40vw;
  height: 10vmax;
  margin: 10px auto;
  position: absolute;
  right: 0em;
  display: flex;
  justify-content: center;
  align-items: end;
}

.tree__treetop--left {
  width: 50%;
  position: absolute;
  bottom: 50%;
  right: 77%;
}

/* Větve - individual */

.tree__branch--7 {
  margin-top: 17em;
}
.tree__branch--5 {
  margin-top: 37em;
}
.tree__branch--3 {
  margin-top: 57em;
}
.tree__branch--1 {
  margin-top: 77em;
}

/* Checklisty */

#tree__modal {
  background-color: rgb(232, 232, 232);
  padding: 2em;
  border-radius: 2em;
  position: absolute;
  left: -7em;
  bottom: 7em;
  z-index: 1;
  font-size: 0.8em;
  /* line-height: 2em; */
}

.leaves {
  font-size: 0.5em;
  line-height: 0.1em;
}

.tree__leaf-icon {
  width: 2em;
}

/* .bushes {
  filter: invert(87%) sepia(10%) saturate(611%) hue-rotate(134deg)
    brightness(90%) contrast(88%);
  width: 40em;
} */

/* RESPONZIVITA */

@media (max-width: 368px) {
  .tree__trunk {
    border-bottom: 100em solid #72164c;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    width: 5em;
    margin: 0 auto;
    position: relative;
  }
}

/* @media (min-width: 430px) {
  .tree__trunk {
    border-bottom: 150vh solid #72164c;
  }
}
@media (min-width: 530px) {
  .tree__trunk {
    border-bottom: 180vh solid #72164c;
  }
}

@media (min-width: 576px) {
  .tree__trunk {
    border-bottom: 210vh solid #72164c;
  }
}
@media (min-width: 650px) {
  .tree__trunk {
    border-bottom: 240vh solid #72164c;
  }
}
@media (min-width: 700px) {
  .tree__trunk {
    border-bottom: 270vh solid #72164c;
  }
} */

@media (min-width: 768px) {
  /* #tree__title {
    margin-top: 0.5em;
  } */
  /* 
  .tree__trunk {
    border-bottom: 100em solid #72164c;
  } */

  .tree__branch--right {
    border-bottom: 1.5em solid #72164c;
  }

  .tree__branch--left {
    border-bottom: 1.5em solid #72164c;
  }
}
/* 
@media (min-width: 890px) {
  .tree__trunk {
    border-bottom: 110em solid #72164c;
  }
} */

@media (min-width: 992px) {
  #tree__title {
    font-size: 4em;
  }

  #tree__treetop {
    font-size: 1.5em;
  }
  .tree__treetop {
    font-size: 1em;
  }

  .tree__trunk {
    border-bottom: 280em solid #72164c;
    border-left: 7em solid transparent;
    border-right: 7em solid transparent;
    width: 20em;
  }

  /* Pravá strana stromečku */
  .tree__branch--right {
    border-bottom: 4em solid #72164c;
    border-right: 3em solid #72164c;
    width: 35vmax;
    height: 7vmax;
  }

  .tree__treetop--right {
    width: 50%;
    position: absolute;
    bottom: 50%;
    left: 77%;
  }

  /* Větve - individual */

  .tree__branch--8 {
    margin-top: 15em;
  }
  .tree__branch--6 {
    margin-top: 75em;
  }
  .tree__branch--4 {
    margin-top: 135em;
  }
  .tree__branch--2 {
    margin-top: 195em;
  }

  /* Levá strana stromečku */

  .tree__branch--left {
    border-bottom: 4em solid #72164c;
    border-left: 3em solid #72164c;
    border-top: 0em solid #72164c;
    border-right: 0em solid #72164c;
    width: 35vmax;
    height: 7vmax;
  }

  .tree__treetop--left {
    width: 50%;
    position: absolute;
    bottom: 50%;
    right: 77%;
  }

  /* Větve - individual */

  .tree__branch--7 {
    margin-top: 45em;
  }
  .tree__branch--5 {
    margin-top: 105em;
  }
  .tree__branch--3 {
    margin-top: 165em;
  }
  .tree__branch--1 {
    margin-top: 225em;
  }

  .leaves {
    font-size: 1.2em;
    line-height: 0.5em;
  }
}

@media (min-width: 1200px) {
  #tree__title {
    font-size: 3em;
  }
  #tree__treetop {
    width: 25%;
  }
  .tree__treetop {
    width: 40%;
  }
  .tree__treetop--right {
    bottom: 50%;
    left: 85%;
  }
  .tree__treetop--left {
    bottom: 50%;
    right: 85%;
  }
  .tree__trunk {
    border-bottom: 200em solid #72164c;
  }
  .tree__branch--right {
    border-bottom: 3em solid #72164c;
    border-right: 2em solid #72164c;
  }
  .tree__branch--left {
    border-bottom: 3em solid #72164c;
    border-left: 2em solid #72164c;
  }

  /* Větve - individual (pravá strana) */

  .tree__branch--8 {
    margin-top: 10em;
  }
  .tree__branch--6 {
    margin-top: 50em;
  }
  .tree__branch--4 {
    margin-top: 90em;
  }
  .tree__branch--2 {
    margin-top: 130em;
  }

  /* Větve - individual (levá strana) */

  .tree__branch--7 {
    margin-top: 30em;
  }
  .tree__branch--5 {
    margin-top: 70em;
  }
  .tree__branch--3 {
    margin-top: 110em;
  }
  .tree__branch--1 {
    margin-top: 150em;
  }

  .leaves {
    font-size: 1em;
    line-height: 1em;
  }
}
