/* -------------------- MOBILE FIRST -------------------- */

#courses__title {
  font-size: 3em;
  margin-bottom: 0.5em;
  text-align: center;
}

#community__title {
  font-size: 2em;
  margin-top: 35%;
  margin-bottom: 0.2em;
  color: var(--main-turqoise);
}

#courses__modal {
  top: 15em;
}

.empty {
  height: 1em;
  margin-right: 1em;
}

/* RESPONZIVITA */

@media (min-width: 576px) {
  .container__your-courses {
    font-size: 0.8em;
  }

  #courses__title {
    font-size: 2.5em;
    text-align: left;
  }

  #community__title {
    margin-top: 20%;
  }
  .container__your-courses button {
    width: 40%;
    margin-left: 60%;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #community__title {
    font-size: 1.5em;
    margin-top: 10%;
  }
  .container__your-courses #your-courses__course-bar {
    width: 80%;
    margin-right: 0;
    margin-left: 0;
  }
  .container__your-courses button {
    width: 30%;
    margin-left: 50%;
  }
}

@media (min-width: 992px) {
  .main__your-courses {
    margin-bottom: 5em;
  }
  #courses__title {
    font-size: 3.5em;
  }

  #community__title {
    font-size: 2.5em;
    margin-top: 5%;
  }

  .container__your-courses #your-courses__course-bar {
    width: 70%;
    font-size: 1.5em;
  }

  .container__your-courses button {
    width: 20%;
  }
}
